<footer class="footer">
    <dl class="links__list">
        <div class="links__section links__section--icons">
            <dd class="links__definition">
                <a href="https://twitter.com/Solin4035">
                    <img class="links__icons" src="/images/icons/social-media/twitter.svg" width="50px" height="50px" alt="Твиттер">
                </a>
                <a href="https://vk.com/solinoff">
                    <img class="links__icons" src="/images/icons/social-media/vkontakte.svg" width="50px" height="50px" alt="Вконтакте">
                </a>
                <a href="https://github.com/SolinCode">
                    <img class="links__icons" src="/images/icons/social-media/github.svg" width="50px" height="50px" alt="Гитхаб">
                </a>
            </dd>
        </div>
        <div class="links__section links__section--links">
            <dt class="links__description">
                <a class="links__link" href="https://blog.solinofficial.com">blog.Solinofficial.com</a>
            </dt>
            <dd class="links__definition">
                <a class="links__link links__donate" href="https://www.donationalerts.com/c/solin4035">Поддержать</a>
            </dd>
        </div>
    </dl>
</footer>