---
title: Все статьи
layout: page.njk
permalink: articles/index.html
---

<main class="main">
    <section class="main__section">
        <h1 class="main__title">{{ title }}</h1>
            <ul class="articles">
                {%- for article in collections.Article | reverse -%}
                <li class="article__item article__item--all">
                    <h2 class="article__title article__title--last">{{ article.data.title }}</h2>
                    <p class="article__preview article__preview--last">{{ article.data.preview }}</p>
                    <date class="article__date article__date--all">{{ article.date.toUTCString() }}</date>
                    <a class="article__link" href="{{ article.url }}"></a>
                </li>
                {%- endfor -%}
            </ul>
        <p class="notice">
            <a class="notice__link" href="/">На главную</a>
        </p>
    </section>
</main>