<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{title}} — Solin's Blog"/>
    <meta property="og:description" content="{% if page.url != '/' %}{{preview}}{% else %}Личный блог Солина. Различные статьи на разные важные темы.{% endif %}"/>
    <meta property="og:image" content="{{"https://blog.solinofficial.com" + page.url + "images/preview.jpg"}}"/>
    <meta property="og:url" content="https://blog.solinofficial.com{% if page.url != '/' %}{{page.url}}{% endif %}"/>
    <meta property="og:site_name" content="Solin's Official Blog"/>

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="blog.solinofficial.com">
    <meta property="twitter:creator" content="@mentalsolin">
    <meta property="twitter:description" content="{% if page.url != '/' %}{{preview}}{% else %}Личный блог Солина. Различные статьи на разные важные темы.{% endif %}"/>
    <meta property="twitter:image" content="{{"https://blog.solinofficial.com" + page.url + "images/preview.jpg"}}"/>
    <meta property="twitter:url" content="https://blog.solinofficial.com{% if page.url != '/' %}{{page.url}}{% endif %}"/>

    <meta property="vk:image" content="{{"https://blog.solinofficial.com" + page.url + "images/preview.jpg"}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">

    <link rel="icon" href="/favicon.svg">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/print.css" media="print">

    <title>{{title}}{% if page.url != '/' %} — Solin's Blog{% endif %}</title>
</head>
<body class="page__body">
    {% include 'header.njk' %}

    {{ content | safe }}

    {% include 'footer.njk' %}
</body>
</html>
